<!html>
<html>
    <head>
        <link type="text/css" href="{{ asset('/css/estilo.css') }}" rel="stylesheet"/>
        <title>Photo albums</title>
    </head>
    <body>
        <div id="contenedor">
            <div id="header">Photo albums</div>
            <div id="menu">
                <a href="{{url('photo_album_homepage')}}">Albums</a> |
                <a href="{{url('registro')}}">Registro</a> |
                <a href="{{url('login_route')}}">Login</a> |
                <a href="{{url('verUsuarios')}}">Usuarios</a>
            </div>
            <div id="contenido">
                {% block contenido %}
                    <h2>{% trans %}Bienvenido a Photo albums!{% endtrans %}</h2>
                    <strong>{% trans %}Últimos albums :{% endtrans %}</strong><br/><br/>
                    {% for album in albums %}
                        <a href="">{{album.descripcion}}</a> - {% trans %}de{% endtrans %} {{album.usuario.nombre}}<br/>
                    {% endfor %}
                    <br/>
                    <form action="{{url('crearAlbum')}}">
                        <input type="submit" class="boton" value="Crear Album" />
                    </form>
                {% endblock %}
            </div>
            <div id="footer">Sergio Ramos - APP curso Symfony - Contacto {{email_contacto}}</div>
        </div>
    </body>
</html>